.login {
    text-align: center;
    width: 400px;
    height: 500px;
    margin: 100px auto auto auto;
}

.login .logo {
    width: 200px;
    font-size: 35px;
    border-bottom: #727272 solid 1px;
    border-bottom-style: dotted;
    margin: 0 auto 25px auto;
}

.login input {
    width: 100%;
    height: 35px;
    margin: 0 0 10px 0;
    border: solid 1px #dadada
}

.login button {
    width: 100%;
    height: 40px;
    border: #007bff solid 1px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
