<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/text_styles.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='text_styles.css') }}" />
    <title>Python-board</title>
</head>

<body>
<div>
    아이디 <input type="text">
</div>
<div>
    비밀번호 <input type="password">
</div>
<form action="/" method="POST"><button>로그인</button></form>
</body>

</html>